@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

html, body {
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5;
  font-size: 28px;
  background: #444;
}

#grid-container {
  width: 300px;
  height: 600px;
  display: grid;
  grid-template-rows: 1fr 3fr ;
  grid-template-columns: 2fr;
  margin: 50px auto;
  -webkit-box-shadow: 10px 10px 80px 30px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 80px 30px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 80px 30px rgba(0,0,0,0.75); 
}

/* Display */
#display-container {
  background: #f2f2f2;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  overflow: hidden;
}

#display-container #display-digits {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 70%;
  background: aliceblue;
  padding-right: 10px;
}

#display-container #divider {
  border-bottom: 1px solid #333;
  width: 100%;
}

/* Main */
#main-container {
  background: #000;
  color: #f2f2f2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  grid-auto-flow: dense;
  cursor: pointer;
}

#main-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container div:hover {
  background: salmon;
  border-radius: 10px;
}

#main-container #clear-btn:hover {
  background: red;
  border-radius: 10px;
}

#main-container #equal {
  grid-column: 3 / 5;
}

#main-container #clear-btn {
  cursor: pointer;
  font-size: 30px;
  grid-column: 1 / 3;
  background: #000;
  color: #f2f2f2;
  border: none;
  outline: none;
}

#main-container .operator {
  grid-column: 5 / 4;
  background: #5E057F;
}

#main-container #zero {
  grid-column: 1 / 3;
}

